<div class="container-fluid container-padding">
	<navbar></navbar>

	<!-- The row for the grid -->
	<div class="row firstrow-container">
		<!-- The column for the overall stats of our main strategy -->
		<div class="col-md-5">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Overall Stats</h3>
				</div>
				<div class="panel-body">
					<overall-table></overall-table>
				</div>
			</div>

			<accordion>
				<accordion-group is-open="status.open">
					<accordion-heading>
						Input Parameters <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></span>
					</accordion-heading>
					<table class="table table-condensed">
						<tbody>
							<tr ng-repeat="(key, value) in inputParameters">
								<td><strong>{{key}}</strong></td>
								<td>{{value}}</td>
							</tr>
						</tbody>
					</table>
				</accordion-group>
			</accordion>

			<!-- The column for the aggregated strategies by the strategy name -->		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Strategy performance</h3>
				</div>
				<div class="panel-body">
					<!-- For toggling between tickers or strategies -->
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button ng-class="{'active': showAllTickers === true}" ng-click="updateLists(true)" class="btn btn-default">By Ticker</button>
						</div>
						<div class="btn-group" role="group">
							<button ng-class="{'active': showAllTickers === false}" ng-click="updateLists(false)" class="btn btn-default">By Strategy</button>
						</div>
					</div>
					<br>

					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						<input ng-model="filterTerm" type="text" class="form-control" placeholder="Filter by..." />
					</div>
					<br>

					<!-- Even though it's a strategy list, it can show everything with the tickers just the
					same because the data is the same. So just link it to the tickers. -->
					<div ng-show="showAllTickers === true">
						<strategy-list strategies="tickersFiltered" show-tickers></strategy-list>
					</div>

					<div ng-show="showAllTickers === false">
						<strategy-list strategies="strategiesFiltered" row-clicked="strategyClick"></strategy-list>
					</div>
				</div>
			</div>

		</div>

		<!-- List of all the orders that contributes to the overall stats -->
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Orders</h3>
				</div>
				<div class="panel-body">
					<order-list orders="orders" order-click="orderClick"></order-list>
				</div>
			</div>
		</div>


	</div>

 </div>