<div class="container">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Stocks</a>
			</div>
			<div class="navbar-left">
			</div>
			<div class="navbar-right">
			</div>
		</div>
	</div>

	<!-- The row for the grid -->
	<div class="row firstrow-container">
		<!-- The column for the overall stats of our main strategy -->
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Overall Stats</h3>
				</div>
				<div class="panel-body">
					<overall-table></overall-table>
				</div>
			</div>
		</div>

		<!-- The column for the aggregated strategies by the strategy name
		or also by symbol -->		
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Strategy performance</h3>
				</div>
				<div class="panel-body">
					<!-- Toggle button to switch between strategy performance and also by symbol -->
					<div class="btn-group">
						<label class="btn btn-success" ng-model="bySymbol" btn-radio="'Overall'" uncheckable>Overall</label>
						<label class="btn btn-success" ng-model="bySymbol" btn-radio="'BySymbol'" uncheckable>By Symbol</label>
					</div>
				</div>
			</div>
		</div>

	</div>

 </div>