<div class="container-fluid container-padding">
	<navbar></navbar>

	<!-- The row for the grid -->
	<div class="row firstrow-container">
		<!-- The column for the overall stats of our main strategy -->
		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Overall Stats</h3>
				</div>
				<div class="panel-body">
					<overall-table></overall-table>
				</div>
			</div>

			<!-- The column for the aggregated strategies by the strategy name -->		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Strategy performance</h3>
				</div>
				<div class="panel-body">
					<strategy-list strategies="strategies" row-clicked="strategyClick"></strategy-list>
				</div>
			</div>

		</div>

		<!-- List of all the orders that contributes to the overall stats -->
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Orders</h3>
				</div>
				<div class="panel-body">
					<order-list orders="orders" order-click="orderClick"></order-list>
				</div>
			</div>
		</div>


	</div>

 </div>