<div class="container-fluid container-padding">
	<navbar></navbar>
	
	<!-- The row for the grid -->
	<div class="row firstrow-container">

		<div class="row">
			<div class="col-xs-12">
				<h3>{{ticker}} <small>Order {{orderId}} on {{orderDate}}</small></h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Charts</h3>
					</div>
					<div class="panel-body">

						<!-- This will be where the chart goes -->
						<!-- indicators will have to be added to the directive so it can stack them accordingly -->
						<div class="row">
							<div class="col-xs-12">
								<highstock ticker="{{ticker}}" events="chartEvents"></highstock>
							</div>
						</div>

					</div>
				</div><!-- End chart panel -->

			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Strategies Found</h3>
					</div>
					<div class="panel-body">
						<alert type="info">This is a list of the strategies found at this time. The best percentage up till now is selected. That is the one that triggered the buy order.</alert>
						<strategy-list strategies="strategies" row-clicked="strategyClick" selected=""></strategy-list>

					</div>
				</div><!-- End strategy list panel -->
			</div>

	</div>

 </div>