<div class="container container-padding">
	<navbar></navbar>

	<!-- The row for the grid -->
	<div class="row firstrow-container">

		<div class="col-xs-12">

			<h3>Strategy Performance for {{strategy}}</h3>

			<!-- The strategy performance per symbol -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Strategies</h3>
				</div>
				<div class="panel-body">
					<strategy-list strategies="strategies" row-clicked="strategyClick" show-tickers></strategy-list>

				</div>
			</div><!-- End strategy list panel -->
		</div>

	</div>

 </div>