<div class="container-fluid container-padding">
	<navbar></navbar>
	
	<!-- The row for the grid -->
	<div class="row firstrow-container">

		<div class="row">
			<div class="col-xs-12 border-underline">
				<h3>{{strategy}} <small>{{ticker}}</small></h3>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Charts</h3>
					</div>
					<div class="panel-body">

						<!-- This will be where the chart goes -->
						<!-- indicators will have to be added to the directive so it can stack them accordingly -->
						<div class="row">
							<div class="col-xs-12">
								<highstock ticker="{{ticker}}" chart-name="lowerTimeframe" events="chartEvents" extremes="extremes"></highstock>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<highstock ticker="{{ticker}}" chart-name="higherTimeframe" higher-timeframe></highstock>
							</div>
						</div>

					</div>
				</div><!-- End chart panel -->

				<!-- Stats for the strategy -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{strategy}} details for {{ticker}}</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
								<h4 class="text-center">Win/Loss Percent</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<progress>
									<bar type="success" value="strategyData.winPercent"><span>{{strategyData.winPercent}}%</span></bar>
									<bar type="danger" value="strategyData.lossPercent"><span>{{strategyData.lossPercent}}%</span></bar>
								</progress>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<table class="table table-condensed ">
									<tbody>
										<tr>
											<td><strong>Gain</strong></td>
											<td><span ng-class="{'text-danger': strategyData.gain < 0, 'text-success': strategyData.gain >= 0}"><span class="glyphicon" ng-class="{'glyphicon-circle-arrow-up': strategyData.gain >= 0, 'glyphicon-circle-arrow-down': strategyData.gain < 0}"></span>&nbsp;${{abs(strategyData.gain)}}</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-xs-6">
								<table class="table table-condensed">
									<tbody>
										<tr>
											<td><strong>Number of Orders</strong></td>
											<td>{{strategyData.numberOfOrders}}</td>
										</tr>
										<tr>
											<td><strong>Profit Target %</strong></td>
											<td>{{strategyData.profitTargetPercent}}%</td>
										</tr>
										<tr>
											<td><strong>Stop Loss %</strong></td>
											<td>{{strategyData.stopLossPercent}}%</td>
										</tr>
										<tr>
											<td><strong>Length Exceeded %</strong></td>
											<td>{{strategyData.lengthExceededPercent}} %</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Orders</h3>
					</div>
					<div class="panel-body">

						<order-list orders="orders" order-click="orderClick" active-order="activeOrder"></order-list>

					</div>
				</div><!-- End strategy list panel -->
			</div>

		</div>

	</div>

 </div>