<div class="container-fluid container-padding">
	<navbar></navbar>
	
	<!-- The row for the grid -->
	<div class="row firstrow-container">

		<div class="row">
			<div class="col-xs-12 border-underline">
				<h3>{{strategy}} <small>{{ticker}}</small></h3>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Charts</h3>
					</div>
					<div class="panel-body">

						<!-- This will be where the chart goes -->
						<!-- indicators will have to be added to the directive so it can stack them accordingly -->
						<div class="row">
							<div class="col-xs-12">
								<highstock ticker="{{ticker}}" events="chartEvents" extremes="extremes"></highstock>
							</div>
						</div>


					</div>
				</div><!-- End chart panel -->

			</div>

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Orders</h3>
					</div>
					<div class="panel-body">

						<order-list orders="orders" order-click="orderClick"></order-list>

					</div>
				</div><!-- End strategy list panel -->
			</div>

		</div>

	</div>

 </div>