<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Stocks</a>
		</div>
		<div class="navbar-left">
			<a href="{{buyListLink}}" class="btn btn-default navbar-btn">
				<span class="glyphicon glyphicon-th-list"></span>
				Buy List
			</a>
			<a href="{{accountValueLink}}" class="btn btn-default navbar-btn">
				<span class="glyphicon glyphicon-usd"></span>
				Account Value
			</a>
			<a href="{{higherTimeframeLink}}" class="btn btn-default navbar-btn">
				<span class="glyphicon glyphicon-signal"></span>
				Higher Timeframe Debug
			</a>
			<a href="{{analysisLink}}" class="btn btn-default navbar-btn">
				<span class="glyphicon glyphicon-search"></span>
				Main Order Analysis
			</a>
		</div>
		<div class="navbar-right">
		</div>
	</div>
</div>