<div>
	<div class="text-center">
		<pagination total-items="orders.length" ng-model="currentPage" items-per-page="numberOrdersPerPage" max-size="10" rotate="true" boundary-links="true" class="pagination-sm"></pagination>
	</div>
	<table class="table table-condensed table-hover">
		<thead>
			<th>Type</th>
			<th>Ticker</th>
			<th>Buy Date</th>
			<th>Buy</th>
			<th>Sell Date</th>
			<th>Sell</th>
			<th>Shares</th>
			<th>Gain</th>
			<th>Reason</th>
		</thead>
		<tbody>
			<tr ng-repeat="order in getPageOrders()" ng-click="orderClick(order, $event)" class="hover-pointer" ng-class="{'info': activeOrder === order}">
				<td>
					<span ng-class="{'text-success': order.orderType === 0, 'text-danger': order.orderType !== 0}">
						<strong>{{order.orderType === 0 ? 'L' : 'S'}}</strong>
					</span>
				</td>
				<td>{{order.ticker}}</td>
				<td>{{order.buyDate}}</td>
				<td>${{order.buyPrice}}</td>
				<td>{{order.sellDate}}</td>
				<td>${{order.sellPrice}}</td>
				<td>{{order.numShares}}</td>
				<td>
					<span ng-class="{'text-danger': order.gain < 0, 'text-success': order.gain >= 0}"><span class="glyphicon" ng-class="{'glyphicon-circle-arrow-up': order.gain >= 0, 'glyphicon-circle-arrow-down': order.gain < 0}"></span>&nbsp;${{abs(order.gain)}} ({{getPercentGain(order)}}%)</span>
				</td>
				<td>{{order.sellReason}}</td>
			</tr>
		</tbody>
	</table>
</div>
