/* Any bootstrap overrides go here */
$icon-font-path: "../fonts/bootstrap/" !default;
$font-size-base: 13px;

/* Common styles for the entire web project. */
@import "fonts/roboto/roboto";
@import "bower-components/bootstrap-sass-official/assets/stylesheets/bootstrap";

/* Main shared styles */
@import "source/components/strategy-list.scss";

@mixin full-screen {
	width: 100%;
	height: 100%;
}

html, body {
	margin: 0;
	@include full-screen;
}

.app-view {
	@include full-screen;
}

.firstrow-container {
	margin-top: $navbar-height + $navbar-margin-bottom;
}

.hover-pointer:hover {
	cursor: pointer;
}

.border-underline {
	border-bottom: 1px solid $table-border-color;
	margin-bottom: 30px;
}

.container-padding {
	margin-left: 15px;
	margin-right: 15px;
}